<!DOCTYPE html>
<html>
    <head>
        <title>
            Connect Quattro
        </title>
        <link rel="stylesheet" href="stylesheets/style.css" />
        <link rel="stylesheet" href="stylesheets/splash.css" />
    </head>
    <body>
        <header>
            <h1 id="title"><i>Connect Quattro</i></h1>
            <div id="incorrectSize"><span>Attention: Screen size is too low for an optimal game experience.</span></div>
        </header>

        <aside id="play_game">
            <form method="POST" action="game">
                <button>
                    <h1>Play Game</h1>
                </button>
            </form>
        </aside>

        
            <aside style="width:1250px; margin-left: auto; margin-right: auto;">

                <aside id="left">
                    <aside id="left_text">
                        <p style="margin-top: 0px;">Current Games: <span id="currentGames">0</span> </p>
                        <p>Games Played: <span id="gamesPlayed">0</span></p>
                        <p>Players Online: <span id="playersOnline">0</span></p>
                    </aside>
                </aside>
                
                <aside id="right">
                    <p style="margin-top: 0px;">How to play: </p>
                    <p style="text-align: justify;" id="howtoplay">a column to drop your pizza. Connecting 4 pizzas horizontally, vertically or diagonally gives you the</p>
                </aside>
              <aside style="clear: both;"></aside>

            </aside>
         
        <script src="javascripts/splash_script.js"></script>
    </body>
</html>